@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&family=Roboto:ital,wght@0,100;0,400;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}
body {
  background: rgb(239, 239, 239);
}

.header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100;
  background: white;
}

.header__menu {
  width: auto;
  margin: 1px;
  margin-top: 0;
}
.header__logo {
  text-decoration: none;
  margin-left: 5%;
}

.header__logo--titulo {
  font-family: "League Spartan", sans-serif;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.header__links {
  padding: 2px;
  margin-left: 5%;
  display: inline-block;
}

.header__menu--link {
  width: auto;
  padding: 10px;

  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

.header__menu--link a {
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
}

.header__button {
  font-size: 14px;
  padding: 9px;
  text-transform: uppercase;
  background: black;
  color: white;
  transition: width 2s;
  border-radius: 12px;
}

.header__button:hover {
  transition-duration: 12s;
  transition-delay: 1s;
  border: 2px;
  background: white;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
}

.contenido {
  position: relative;
  display: block;
  margin-bottom: 30%;
}
.contenido__seccion {
  position: absolute;
  margin-top: 10%;
  background: rgb(239, 239, 239);
}

.contenido__seccion--titulo {
  width: 80%;
  font-size: calc(1.875rem + ((1vw - 3.2px) * 1.125));
  padding: 15px;
  margin: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.contenido__seccion--parrafo {
  width: auto;
  margin-top: 10px;
  margin: 10px 10px 10px 20px;
  display: block;
  font-size: 16px;
  line-height: 30px;
}

.contenido__seccion--apartado {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.contenido__button--link {
  text-decoration: none;
}

.contenido__button {
  background-color: white;
  color: black;
  border: 2px solid #73d800;
  display: block;
  border: none;
  padding: 25px 50px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  transition: 2s;
  border: 2px solid black;
  border-radius: 12px;
}

.contenido__button:hover {

  border: 2px;
  background-color: black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 5px solid palegreen;
}

.contenido__video video {
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

.carrusel {
  display: flex;
  margin-top: 500px;
  /* margin-top: 80%; */
  margin-bottom: 100px;
}

.carrusel__seccion {
  width: 100%;
  height: 400px;
}

.contenido_planificacion--image {
  border-radius: 12px;
  width: 100%;
  height: 400px;
  margin-left: 0;
}
.contenido_planificacion--imageAnimada {
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 400px;
}

.contenido_planificacion--especificacion {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10%;
}

.contenido_planificacion--especificacion h5 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.contenido_planificacion--especificacion p {
  display: inline;
  font-size: 16px;
}
.contenido_planificacion--especificacion a {
  display: inline-block;
  text-decoration: none;
  border-radius: 12%;
}

.contenido_planificacion--especificacion div {
  display: block;
  margin-left: auto;
  position: relative;
}

.contenido_planificacion--especificacion div ul {
  position: absolute;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 50px;
}

.footer {
  background: rgb(33, 37, 41);
  display: block;
}

.footer__title {
  color: white;
}

.footer__redes {
  display: inline-block;
  position: relative;
  width: 100%;
}
.footer__redes--item {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 55%;
  display: inline-block;
  margin-top: 20px;
}




.footer__redes--lista {
  list-style: none;
  display: inline-block;
  width: 100%;
  position: relative;
}

.footer__redes--lista a {
  display: inline-block;
  margin-left: 45px;
}

.footer__redes--lista a img {
  width: 30px;
  border-color: black;
  border-width: 50px;
  border-radius: 32%;
  position: absolute;
  display: inline-block;
  margin-top: 5px;
  margin-left: 65%;
  transition: 2s;
}

.footer__redes--lista a img:hover{
    background: white;
}

.footer__ubicacion{
    display: block;
    position: absolute;
    background: rgb(33, 37, 41);
    margin-left: auto;
    margin-right: auto;
}

.footer__ubicacion--labels{
    display: inline-block;
    width: 100%;
}

.footer__redes--direccion {
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 32%;
    display: inline-block;
    margin-top: 20px;
  }


  .footer__ubicacion--labels a img{
    display: inline-block;
    width: 30px;
    margin-left:44%;
    margin-top: 20px;
}

.footer__ubicacion--especificaDiv{
    margin-top: 45px;
    margin-left: 30%;
    transition: 2s;
}

.footer__ubicacion--especifica{
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin: 10px;
}

.footer__ubicacion--especifica span{
    display: block;
    line-height: 40px;
}

.footer__icon--ubicacion{
        width: 30px;
        border-color: black;
        border-width: 50px;
        border-radius: 32%;
        position: absolute;
        margin-top: 5px;
        margin-left: 65%;
        transition: 2s;
      }

      .footer__icon--ubicacion:hover{
        background: white;
    }

.footer__map iframe{
    margin-left: 15%;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px  rgb(250, 249, 252);
    transition: 2s;
    width:400px;
    height:200px; 
    margin-bottom: 50px;
}

.copyright{
    margin-top:90%;
    position: relative;
    width: 100%;
    height: 200px;
    padding: 30px 0;
    text-align: center;
}

.copyright p {
    margin: 0;
    display: inline-block;
    color: white;
}

.copyright p a{
    color: #98fb98;
    font-weight: bold;
    text-decoration: none;
}

/* 
.footer__ubicacion--labels .footer__redes--item{
    margin-top: 20px;
    margin-left: 25px;
}



.footer__ubicacion--map{
    width: 100%;
    margin: 20px;
 
} */

.section__sobreNosotros--margen{
  margin-left: 5px;
  margin-right: 0;
  margin-top: 50px;
}

.section2__sobreNosotros{
  margin-left: 5px;
  margin-right: 0;
  margin-top: 100px;
}

.container__section1{
  position: relative;
  width: 100%;
}
.section__title1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.section__parrafo1{
  font-size: 20px;
  font-weight: 200;
}
.cuadrado{
  border-radius: 0 12px 12px 0 ;
  background: palegreen;
  height: 60px;
  margin: -30px 0;
}
.cuadrado2{
  border-radius: 12px 0 0 12px ;
  background: palegreen;
  height: 60px;
  margin: -30px 0;
}

.bordes__section--img{
  border-radius: 12px;
}

.section2__sobreNosotros{
  margin-bottom: 80px;
}
.section2__title{
  margin: 20px;
  margin-bottom: 60px;
  font-weight: 600;
}
.section2__sobreNosotros--title{
  margin: 20px;
  font-weight: 400;
}

.section2__sobreNosotros--parrafo{
  font-weight: 100;
  font-size: 18px;
  line-height: 35px;
}

.section__servicios--unicacion{
margin-left: 7%;
}

.section2__parrafo{
  font-size: 18px;
  font-weight: 400;
}

.servicios__container{
  margin-bottom: 200px;
}

.servicios__container2{
  margin-bottom: 200px;
}

.servicios__container2--ubi{
  position: relative;
}

.boton-form{
  font-size: 16px;
  font-weight: 800;
  background: palegreen;
  padding: 4px;
  border-radius: 12px;
  border-style: none;
}

.boton-form:hover{
  transform-style: flat;
  transition-delay: 1s;
  background: rgb(152, 178, 251);
}

.text-decoration{
    color: #98fb98;
    font-weight: bold;
    text-decoration: none;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

@media screen and (min-width:860px){
  
  .flotante{
    margin-left: 150%;
  }
  
}

/*Se ejecuta*/
@media screen and (min-width:768px) and (max-width:860px){
  body{
    background: #d800bb;
  }
  .contenido__seccion--titulo{
    color: #e00d0d;
  }
  .flotante{
    margin-left: 120%;
  }

  .carrusel{
    display: flex;
  margin-top: 80%;
  margin-bottom: 10%;
  }
  /* .footer-Grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 20vh);
    grid-template-areas:
  } */


  .llamanos{
    width: 100%;
    margin-left: 80%;
    background: #73d800;
  }
  .telefono{
    margin-left: 20%;
  }

  .footer__ubicacion--labels a img {
    display: inline-block;
    width: 30px;
    margin-top: 20px;
}
.footer__map iframe{
  margin-left: 4%;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px  rgb(250, 249, 252);
  transition: 2s;
  width:350px;
  height:200px; 
  margin-bottom: 50px;
}
.footer__redes {
  display: flex;
  width: 100%;
}
.footer__redes--item {
  margin-left: 5%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
}

@media screen and (min-width:300px) and (max-width:768px){
  body{
    background: #d800bb;
  }
  .contenido__seccion--titulo{
    color: #25d366;
  }

  .carrusel{
    display: flex;
  margin-top: 200%;
  margin-bottom: 70%;
  }
  /* .footer-Grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 20vh);
    grid-template-areas:
  } */

  .llamanos{
    margin-top: 100%;
    background: #73d800;
  }
  .footer__ubicacion--labels a img {
    display: inline-block;
    width: 30px;
    margin-left: 55%;
    margin-top: 20px;
}
.footer__map iframe{
  margin-left: 4%;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px  rgb(250, 249, 252);
  transition: 2s;
  width:350px;
  height:200px; 
  margin-bottom: 50px;
}
.footer__redes {
  display: flex;
  width: 100%;
}
.footer__redes--item {
  margin-left: 5%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
}


/*
.sobreNosotros__section1 h2{
  width: 30%;
  margin-top: 5%;
  text-align: center;
  background: #98fb98;
  display: inline-block;
}

.sobreNosotros__section1  p {
  position: absolute;
  background: red;
  display: inline-block;
  width: 60%;
  margin-top: 4%;
  margin-left: %;
  font-weight: 30px;
  font-size: 18px;
} */
